[Unit]
Description=Poll PVE temperatures every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=60s
AccuracySec=5s
RandomizedDelaySec=5s
Unit=sentrylab-pve.service

[Install]
WantedBy=timers.target
